<header class="header-content header">
    <div class="logo-content">
        <img src="../../../assets/logo.png" alt="Employee Payroll">
        <div>
            <span class="emp-text">EMPLOYEE</span><br>
            <span class="emp-text emp-payroll">PAYROLL</span>
        </div>
    </div>
</header>
<div class="main-content">
    <div class="header-content">
        <div class="emp-detail-text">
            Employee Details
        </div>
        <a routerLink="/home" class="add-button">
            <img src="../../../assets/add.svg">
            <div>Add User</div>
        </a>
    </div>
    <div class="table-main">
        <table id="table-display" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>NAME</th>
                    <th>GENDER</th>
                    <th>DEPARTMENT</th>
                    <th>SALARY</th>
                    <th>START DATE</th>
                    <th>NOTE</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody >
                <tr  *ngFor="let emp of employee.data">
                    <td>
                        <img class="profile" id='image1' [src]="emp.profile">
                    </td>
                    <td>{{emp.name}}</td>
                    <td>{{emp.gender}}</td>
                    <td>{{emp.department}}</td>
                    <td>{{emp.salary}}</td>
                    <td>{{emp.startDate}}</td>
                    <td>{{emp.notes}}</td>
                    <td>

                        <img class="img1" src="../../../assets/dlt.svg" (click)="onClick(emp.id)">
                        <img class="img" src="../../../assets/update.svg" (click)="editEmp(emp.id)">
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>